<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <link rel="shortcut icon" href="img/perfil.png" />


    <title>SGP: Sistema Gestor de Procesos</title>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>

    <!-- CSS -->
    <link rel="stylesheet" href="css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="css/themes/default.min.css"/>
</head>
<body">
    <!--Main Navigation-->
  <header>
    <!-- Sidebar -->
    <nav
        id="sidebarMenu"
        class="collapse d-lg-block sidebar collapse bg-white"
        >
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a
            href="/"
            class="list-group-item list-group-item-action py-2 ripple"
            >
            <i class="fas fa-house fa-fw me-3"></i
              ><span>Menu principal</span>
          </a>
          <a
            href="/gestion"
            class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-folder-open fa-fw me-3"></i><span>Gestion</span></a
            >
          <a
            href="#"
            class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-tv fa-fw me-3"></i>
            <span>Monitoreo</span></a
            >
          <a
            href="/accesos"
            class="list-group-item list-group-item-action py-2 ripple"
            >
            <i class="fas fa-address-card fa-fw me-3"></i><span>Accesos</span>
          </a>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav
        id="main-navbar"
        class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
        >
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#sidebarMenu"
                aria-controls="sidebarMenu"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="#">
          <img
              src="img/logo.png"
              height="25"
              alt=""
              loading="lazy"
              />
        </a>
        <!-- Search form -->
        <div class="text-center fuenteBarlow " style="font-size: 20px;"> Sistema Gestor de Procesos
        </div>

        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">

          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
              >
              <img
                  src="img/perfil.png"
                  class="rounded-circle"
                  height="22"
                  alt=""
                  loading="lazy"
                  />
            </a>
            <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownMenuLink"
                >
              <li><a class="dropdown-item" href="#">My profile</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
    <!--Main Navigation-->
    <!--Main layout-->
    <main style="margin-top: 58px">
        <div class="container pt-4">

          <!-- Example single danger button -->
          <div class="dropdown text-end" style="margin-bottom: 10pt;">
            <button
              class="btn btn-primary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
            <i class="fa fa-cog" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" style="background-color: lightblue" href="#">Editar</a></li>
              <li><a class="dropdown-item" style="background-color:lightcoral"  href="#">Eliminar</a></li>
            </ul>
          </div>

          <div>
            <div class="col-sm-12">
              <div class="card"  style="margin-bottom: 10pt;">
                <div class="card-body">
                  <h5 id="tituloTarea" class="card-title" style="font-weight: bold;"></h5>
                  <label style="font-weight: bold;">Proyecto:</label>
                  <label id="tituloProyecto"></label>
                  <!-- Tabs navs -->
                  <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a
                        class="nav-link active"
                        id="ex1-tab-1"
                        data-mdb-toggle="tab"
                        href="#ex1-tabs-1"
                        role="tab"
                        aria-controls="ex1-tabs-1"
                        aria-selected="true"
                        >Descripción:</a
                      >
                    </li>
                  </ul>
                    <!-- Tabs content -->
                  <div class="tab-content" id="ex1-content">
                    <div
                      class="tab-pane fade show active"
                      id="ex1-tabs-1"
                      role="tabpanel"
                      aria-labelledby="ex1-tab-1"
                    >
                    <label id="descripcion"></label>
                    </div>
                  </div>
                  <div>
                  </div>
                </div>
            </div>
          </div>


          <div class="card shadow-5"  style="margin-bottom: 10pt;">
            <div class="card-header">
              <div class="row">
                <div class="col-sm-11">
                  <div class="form-outline">
                    <input type="text" id="formTextExample1" class="form-control" aria-describedby="textExample1" />
                    <label class="form-label" for="formTextExample1">Notas</label>
                  </div>
                </div>
                <div class="col-sm-1">
                  <button type="button" class="btn btn-primary">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div id="divNotas"></div>
              <div style="margin-bottom: 10pt;">
                <i class="fa fa-user" aria-hidden="true"></i>
                <label style="font-size:13pt;  color: blue;">Ricardo Velazquez Bautista</label>
                <br>
                <label style="padding-left: 20px;">Se realizo y tal  tal tal tal</label>
              </div>
              <div style="margin-bottom: 10pt;">
                <i class="fa fa-user" aria-hidden="true"></i>
                <label style="font-size:13pt; color: orange;">Raul Arturo Peredo Estudillo</label>
                <br>
                <label style="padding-left: 20px;">aaa daewdgawy duwahduiwa</label>
              </div>
            </div>
          </div>

          

        </div>
    </main>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    <script src="js/alertify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/fases/fase1.js"></script>
    
</body>
</html>

