<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/img/logo.png">
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    <title>SGP: Sistema Gestor de Procesos</title> 
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/img/logo.png" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">SGP</span>
                    <span class="profession">Sistema gestor de procesos</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">

                    <li class="nav-link">
                        <a href="/">
                            <i class='bx bx-home icon' ></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="gestion">
                            <i class='bx bx-archive icon' ></i>
                            <span class="text nav-text">Gestion</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="monitoreo">
                            <i class='bx bx-desktop icon' ></i>
                            <span class="text nav-text">Monitoreo</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="accesos">
                            <i class='bx bx-id-card icon'></i>
                            <span class="text nav-text">Accesos</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="logout">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>

    </nav>


    <section class="home">
        <header>
            <img src="/img/barraSup.png" style="margin: auto; padding: 22px 30px 0px 30px; width:1400px">
            <div class="mode-text text" style="text-align: right; padding: 0px 55px; font-size: 10px; width:1400px">
                ©Centro de estudios de opinion y analisis
            </div>
        </header>

        <div style="width: auto; height: auto; padding: 25px;">
            <h1 style="text-align:center;padding: 25px;">Monitoreo backend en desarrollo</h1>

        </div>
    </section>

    <script src="js/script.js"></script>
</body>
</html>