<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <link rel="shortcut icon" href="img/perfil.png" />


    <title>SGP: Sistema Gestor de Procesos</title>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
    <!--Main Navigation-->
  <header>
    <!-- Sidebar -->
    <nav
        id="sidebarMenu"
        class="collapse d-lg-block sidebar collapse bg-white"
        >
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a
            href="/"
            class="list-group-item list-group-item-action py-2 ripple"
            >
            <i class="fas fa-house fa-fw me-3"></i
              ><span>Menu principal</span>
          </a>
          <a
            href="/gestion"
            class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-folder-open fa-fw me-3"></i><span>Gestion</span></a
            >
          <a
            href="#"
            class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-tv fa-fw me-3"></i>
            <span>Monitoreo</span></a
            >
          <a
            href="/accesos"
            class="list-group-item list-group-item-action py-2 ripple"
            >
            <i class="fas fa-address-card fa-fw me-3"></i><span>Accesos</span>
          </a>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav
        id="main-navbar"
        class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
        >
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#sidebarMenu"
                aria-controls="sidebarMenu"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="#">
          <img
              src="img/logo.png"
              height="25"
              alt=""
              loading="lazy"
              />
        </a>
        <!-- Search form -->
        <div class="text-center fuenteBarlow " style="font-size: 20px;"> Sistema Gestor de Procesos
        </div>

        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">

          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
              >
              <img
                  src="img/perfil.png"
                  class="rounded-circle"
                  height="22"
                  alt=""
                  loading="lazy"
                  />
            </a>
            <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownMenuLink"
                >
              <li><a class="dropdown-item" href="#">My profile</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
    <!--Main Navigation-->
    <!--Main layout-->
    <main style="margin-top: 58px">
        <div class="container pt-4">
            <h1  class="centrarTexto mb-5"> Perfil de Usuario </h1>

            <div style="padding-left: 15%; padding-right: 15%;">
                <h4 class="mb-3">Informacion Personal</h4>
                <form class="needs-validation" novalidate>
                <div class="row g-3">
                    <div class="col-sm-6">
                    <label for="firstName" class="form-label">Nombre(s)</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                    </div>
                    <div class="col-sm-6">
                    <label for="lastName" class="form-label">Apellidos(s)</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                    </div>
        
                    <div class="col-12">
                    <label for="email" class="form-label">Correo Electronico</label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                    </div>
                </div>
                <hr class="my-4">

                <h4 class="mb-3">Informacion de Usuario</h4>
                <div class="row g-3">
                    <div class="col-12">
                        <label for="username" class="form-label">Nombre de usuario</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">@</span>
                            <input type="text" class="form-control" id="username" placeholder="usuario" required>
                        <div class="invalid-feedback">
                            Your username is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="password" class="form-label">Contraseña</label>
                    </div>
                </div>
                </form>
                <button class="btn btn-secondary btn-lg id="btnCrear" type="button" data-mdb-ripple-color="dark" data-mdb-toggle="modal" data-mdb-target="#exampleModal" data-mdb-whatever="@mdo" " >Cambiar Contraseña</button>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" >Actualizar informacion</button>
            </div>

        </div>
        <footer class="my-5 pt-5 text-body-secondary text-center text-small">
            <p class="mb-1">&copy; 2023-2024 CEOA</p> 
        
        </footer>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Cambiar contraseña</h5>
                  <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-1">
                        <label for="recipient-name" class="col-form-label">La contraseña debe contener al menos una mayuscula, un numero y un caracter especial.</label>
                    </div>
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Nueva Contraseña:</label>
                      <div class="row">
                        <div class="col-6">
                          <div class="input-group d-flex">
                            <span
                              class="input-group-text border-0"
                              id="password"
                              >
                              <i class="fas fa-lock fa-2x me-1"></i>
                          </span>
                            <input
                              type="password"
                              class="form-control rounded mt-1"
                              placeholder="Contraseña"
                              aria-label="password"
                              aria-describedby="password"
                              id="password-input"
                            />
                            <div class="valid-feedback">Correcta</div>
                            <div class="invalid-feedback">Incorrecta</div>
                          </div>
                        </div>
                      
                        <div class="col-6 mt-4 mt-xxl-0 w-auto h-auto">
                      
                          <div
                            class="alert px-4 py-3 mb-0 d-none"
                            role="alert"
                            data-mdb-color="warning"
                            id="password-alert"
                            >
                            <ul class="list-unstyled mb-0">
                              <li class="requirements leng">
                                <i class="fas fa-check text-success me-2"></i>
                                <i class="fas fa-times text-danger me-3"></i>
                                Tu contraseña debe tener al menos 8 caracteres.</li>
                              <li class="requirements big-letter">
                                <i class="fas fa-check text-success me-2"></i>
                                <i class="fas fa-times text-danger me-3"></i>
                                Al menos 1 mayuscula.</li>
                              <li class="requirements num">
                                <i class="fas fa-check text-success me-2"></i>
                                <i class="fas fa-times text-danger me-3"></i>
                                Al menos 1 numero.</li>
                              <li class="requirements special-char">
                                <i class="fas fa-check text-success me-2"></i>
                                <i class="fas fa-times text-danger me-3"></i>
                                Al menos 1 caracter especial.</li>
                            </ul>
                          </div>
                      
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </main>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    <script type="text/javascript" src="js/password.js"></script>
    <script type="text/javascript" src="js/perfil.js"></script>
</body>
</html>